.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabs{
    display: flex;
    gap: 20px;
}

.tab-heading{
    color: #1C4980;
    font-size: 1.3rem;
    font-weight: 500;
    border-right: 1px solid grey;
    padding-right: 20px;
}

.tab{
    color: #0073E6;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowHeading{
    color: #1C4980;
    font-weight: 500;
    font-size: 1.1rem;
    /* border: 1px solid black; */
}


.overview-block:nth-last-child(1){
    border: none;
}
.overview-block > div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0px;
}

.overview-block > span{
    color: #1C4980;
    font-weight: 500;
}

.overview-block h4{
    color: #1C4980;
    display: inline-block;
}

.countsection{
    /* display: flex; */
    border-right: 1px solid #bcbcbc;
    padding-right: 1rem;
}
.countsection:nth-last-child(1){
    border: none;
}
.count-group{
    display: flex;
    gap: 15px;
}
.countsection > h4{
    display: flex;
    align-items: center;
    gap: 5px;
}
.countsection>div{
    font-size: small;
    color: #1C4980;
    font-weight: 500;
}

.myassessment-card{
    border: 1px solid #DADCE0;
    padding: 15px;
    width: 21rem;
}
.myassessment-card.new{
    border: 1px dashed #DADCE0;
    background-color: #F6F8FA;
}


.new-assessment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1C4980;
}

.mTabs{
    display: flex;
}

.mTabs > h6{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #bcbcbc;
}

.mTabs > .tabActive{
    color: #0073E6;
    border-bottom: 1px solid #0073E6;
}